.TodoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.TodoItem:hover {
    background-color: #ececec;
    transform: scale(1.02);
}

.TodoItem-p {
    margin: 0;
    color: #333;
    flex-grow: 1;
    padding-left: 10px;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}
.TodoItem:has( > .TodoItem-p--skeleton) {
    background-color: #ececec;
    border-radius: 5px;
    height: 40px;
    animation: skeleton-loading 1s linear infinite alternate;
}