.TodoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.TodoItem:hover {
    background-color: #ececec;
    transform: scale(1.02);
}

.TodoItem-p {
    margin: 0;
    color: #333;
    flex-grow: 1;
    padding-left: 10px;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}

.icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
}

.icon-check--active {
    color: #4caf50
}

.icon-delete:hover {
    color: red;
}